<navbar></navbar>
<subnav></subnav>
<div class="container">
    <h1>edit profile</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>

        <form class="form-horizontal" ng-class="{ 'has-success': form.$valid && vm.submitted,'has-error': form.$invalid && vm.submitted }"role="form" name="form" ng-submit="vm.updateProfile(form)">
          <div class="form-group">
            <label class="col-lg-3 control-label">first name:</label>
            <div class="col-lg-8">
              <input class="form-control" ng-model="vm.user.name" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">last name:</label>
            <div class="col-lg-8">
              <input class="form-control" ng-model="vm.user.surname"type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">address:</label>
            <div class="col-lg-8">
              <input class="form-control" ng-model="vm.user.address" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">email:</label>
            <div class="col-lg-8">
              <input class="form-control" ng-model="vm.user.email" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">username:</label>
            <div class="col-md-8">
              <input class="form-control" ng-model="vm.user.username"type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>